<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create</title>
</head>
<body>
    

    @if ( ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong>@(ViewBag.ErrorMessage)
        </div>}

   
    <div class="text-center">
        <h1 class="display-4">Employee Management System</h1>
      

    </div>
<form action="/Employee/Create"method="post">
    <label for="Id">Id:</label><br />
        <input type="number" id="Id" name="Id"><br />
        <label for="Name">Name:</label><br />
        <input type="text" id="Name" name="Name"><br />
        <label for="Salary">Salary:</label><br />
        <input type="number" id="Salary" name="Salary"> <br />
        <label for="Role">Role</label> <br />
        <select name="employeetype" id="Role">
            <br />
      <option value="Employee">Employee </option>
      <option value="Manager">Manager </option>
            </select>

        <div id="Show manager" style="display:none;">
            <br />
            
            <label for="TeamSize">TeamSize:</label><br />
            <input type="number" id="TeamSize" name="TeamSize"><br /><br />
        </div><br />
        <br /> <button type="submit" onclick="alert('Role confirmed')">Save</button>




    </form>


<script>
    document.getElementById('Role').addEventListener('change',function(){
        var section=document.getElementById('Show manager');
        if(this.value==='Manager'){
            section.style.display='Block';
        }
        else{
            section.style.display='none';
                document.getElementById('TeamSize').value = '';
        }
           
        

    });

</script>
<br />
<a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Detail</a>


</body>
</html>