@{
    ViewData["Title"] = "Employee Management System";
}

<div class="text-center">
    <h1 class="display-4">Employee Management System</h1>
    <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Enter </a>
    <a asp-controller="Employee" asp-action="Detail" class="btn btn-primary">Details </a>
    
</div>
